@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

html, body {
  font-family: 'Shadows Into Light Two', cursive;
  margin: 0;
  padding: 0;
  background-color: #255A53;
  
}

h1 {
  font-size: 50px;
  color: #cc9d6e;
  text-shadow: 3px 4px 0px rgba(0, 0, 0, 0.24);
}

h2 {
  margin-top: 0;
}

a {
  text-decoration: none !important;
  color: #cc9d6e;
  font-size: 25px;
}

a:hover {
  color: #323232;
}

.backBox {
  background-image: linear-gradient(to right, #255A53 0%, #cc9d6e 100%);
  opacity: 0.9;
}

.inputForm {
  background-image: linear-gradient(to right, #255A53 0%, #cc9d6e 100%);
  opacity: 0.9;
  padding: 32px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 6px 8px rgba(0,0,0,0.4);
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.inputForm > input {
  padding: 14px 24px;
  border: none;
}

.background {
  min-height: 100vh;
  background-color: #255A53;
  background-image: url('https://images.unsplash.com/photo-1610641987870-d6d8998274a4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.85;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  display: flex;
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  min-height: 250px;
  margin: 0 15px;
  border-radius: 30px;
  box-shadow: 6px 8px rgba(0,0,0,0.4);
  transition: all 0.3s ease;
}

.select:hover {
  min-width: 280px;
  min-height: 280px;
  font-size: 28px;
  box-shadow: 6px 8px rgba(0,0,0,0.25);
  transition: all 0.3s ease;
}

.grid {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

.title1 {
  text-align: center;
  justify-content: center;
  margin-bottom: 0%;
  color: #cc9d6e;
}

