@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

html {
  margin: 0;
  padding: 0;
  background-color: #c76e52;
  font-family: 'Crimson Text', serif;
  scroll-behavior: smooth;
}

h2 {
  font-size: 18px;
  text-align: center;
}

.title {
  font-size: 45px;
  text-align: center;
}
.title2 {
  font-size: 25px;
}

.title3 {
  font-size: 35px;
  text-align: center;
}

Form {
  text-align: center;
}

button {
  font-family: 'Crimson Text', serif;
  font-size: 12px;
  padding: 6px 10px;
  background-color: black;
  color: whitesmoke;
  display: block;
  margin: 0 auto;
  margin-top: 1%;
}

button:hover {
  box-shadow: 4px 6px 8px #323232 ;
}

input {
  width: 250px;
  font-family: 'Crimson Text', serif;
  font-size: 14px;
}

.card {
  border: 4px double black;
  width: 450px;
  padding: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 1%;
}